=Forum.includes(topics: {posts: :user_comments}).order(:id).each do |forum|
  %table{:border => "1"}
    %tbody
      %tr
        %th = forum.name
        %th = forum.description
        %th = forum.full_name
        %th = "#{forum.id}"
        %th = button_to "Add topic",js_topic_admin_forum_path(forum.id), remote: true
    %tbody
      %tr
      tabs do
        tab "Topics" do
          div id: "topic_#{forum.id}"
          forum.topics.each do |topic|
            table_for topic do
              column topic.name
              column topic.last_poster
              column topic.last_posted
              column button_to "Add Post",js_post_admin_topic_path(topic.id), remote: true
            end
            tabs do
              tab "Posts" do
                div id: "post_#{topic.id}"
                topic.posts.each do |post|
                  table_for post do
                    column post.full_name
                    column post.content
                  end
                  tabs do
                    tab "Comments" do
                      post.user_comments.each do |user_comment|
                        table_for user_comment do
                          column user_comment.full_name
                          column user_comment.content
                        end
                      end
                    end
                  end
                  div id: "comment_post_#{post.id}" do
                    button_to "comment",js_comment_admin_post_path(post.id), remote: true
