= form_tag url_for(action: :js_update), remote: true do
  %fieldset.inputs
    %ol
      %li#topic_input.text.input.optional
        %input#topic_id{type: "hidden", name: "topic[topic_id]", value: @topic.id}
      %li#topic_name_input.text.input.optional
        %label.label{for: "topic_name"} name
        %input#topic_name{name: "topic[name]", value: @topic.name}
  %fieldset.actions
    %ol
      %li#topic_submit_action.action.input_action
        %input#topic_submit{type: "submit",name: "commit",value: "update"}
      %li.cancel
        %input#topic_cancel{type: "submit",name: "cancel",value: "Cancel"}
